//output:index.html, pretty: true
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/css/styles.css")
  body.chat
    .chat__sidebar
      h3 People
      #users


    .chat__main
      ol#messages.chat__messages

      .chat__footer
        form#message-form
          input(name="message" type="text" placeholder="Message" autofocus autocomplete="off")
          button Send
        button#send-location Send location


    script(src="/socket.io/socket.io.js")
    script(src="/js/libs/jquery.min.js")
    script(src="/js/libs/moment.js")
    script(src="/js/index.js")
